<style>
  body {
    background-image:url("/assets/devise_background.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
</style>
<div class="container mt-4 text-center ">
  <%= image_tag("selload_logo.png", class: "login-title") %>
  <p>
  안녕하세요, <%= current_user.username %> 님!
  </p>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <div class="edit-label text-left"><strong>E-mail : </strong><%= current_user.email%></div>
      <div class="edit-label text-left"><strong>이름 : </strong><%= current_user.username %></div>
      <div class="edit-label text-left"><strong>비밀번호 변경</strong> (6글자 이상)</div>
      <%= f.input :password, autocomplete: "off", required: false,label_html:{style: 'display: none'}, input_html: { class: 'edit-field', style: "margin-top:5px; margin-bottom: 20px;" }, input_html: { class: 'edit-field' } %>
      <div class="edit-label text-left"><strong>비밀번호 확인</strong> (6글자 이상)</div>
      <%= f.input :password_confirmation, required: false ,label_html:{style: 'display: none'}, input_html: { class: 'edit-field', style: "margin-top:5px; margin-bottom: 20px;" }, input_html: { class: 'edit-field' }%>
      <div class="edit-label text-left"><strong>현재 비밀번호</strong> (6글자 이상)</div>
      <%= f.input :current_password, required: true,label_html:{style: 'display: none'}, input_html: { class: 'editt-field', style: "margin-top:5px; margin-bottom: 20px;" }, input_html: { class: 'edit-field' } %>
      <div class="edit-label text-left"><strong>API KEY:</strong> 쇼핑몰에서 발급받은 API KEY를 적어주세요</div>
      <%= f.password_field :apikey, type: "password", class: 'edit-field', style: "margin-top:5px; margin-bottom: 20px;"%>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Update", class:"edit-button", style: "border-radius: 0%"  %>
    </div>
  <% end %>
</div>

