<body class="editback">
  <div class="container mt-4 text-center">
    <%= image_tag("selload_logo.png", class: "login-title") %>
    <div class="edit-label text-left h4" style="margin-bottom: 50px"> 안녕하세요, <strong><%= current_user.username %></strong> 님!</div>

    
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <div class="edit-label text-left d-flex justify-content-between" style="margin-bottom: 20px"><strong>E-mail</strong><%= current_user.email%></div>
        <div class="edit-label text-left"><strong>비밀번호 변경</strong></div>
        <%= f.input :password, autocomplete: "off", required: false,label_html:{style: 'display: none'}, input_html: { class: 'edit-field', style: "margin-top:5px; margin-bottom: 20px;" }, input_html: { class: 'edit-field' } %>
        <div class="edit-label text-left"><strong>비밀번호 확인</strong></div>
        <%= f.input :password_confirmation, required: false ,label_html:{style: 'display: none'}, input_html: { class: 'edit-field', style: "margin-top:5px; margin-bottom: 20px;" }, input_html: { class: 'edit-field' }%>
        <div class="edit-label text-left"><strong>현재 비밀번호</strong></div>
        <%= f.input :current_password, required: true,label_html:{style: 'display: none'}, input_html: { class: 'editt-field', style: "margin-top:5px; margin-bottom: 20px;" }, input_html: { class: 'edit-field' } %>
        <div class="edit-label text-left">
          <strong>API KEY 수정</strong>
          <span 
            class="fas fa-question-circle" tool-tip-toggle="tooltip-demo" data-html=true
            data-original-title="· API KEY가 없으면 상품이 업로드 되지 않습니다.<br>· API KEY는 해당 쇼핑몰 내에서 발급받을 수 있습니다."></span>
        </div>
        <%= f.password_field :apikey, type: "password", class: 'edit-field', style: "margin-top:5px; margin-bottom: 20px;"%>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Update", class:"edit-button", style: "border-radius: 0%"  %>
      </div>
    <% end %>
  </div>
</body>

<script>
  $(document).ready(function(){
      $('[tool-tip-toggle="tooltip-demo"]').tooltip({
          placement : 'right'
      });
  });
</script>