<style>
  body {
    background-image:url("/assets/list_background.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
</style>

<div class="container page" style="margin-top: 40vh">

<table class="table text-center" style="background-color: rgba(255,255,255,0.9); border:none; font-size:1.1em">
  <thead class="thead">
    <tr>
      <th style="width: 10%"> </th>
      <th style="width: 15%">상품번호</th>
      <th style="width: 25%">상품명</th>
      <th style="width: 15%">브랜드</th>
      <th style="width: 15%">가격</th>
      <th style="width: 10%">재고수량</th>
      <th style="width: 10%"></th>
    </tr>
  </thead>
  <tbody class="overflow-y-scroll w-full" style="height: 50vh;">
  <% @product_array.each do |p|%>
    <tr class="main">
        <td><%= link_to image_tag("11st_logo.png", height: "20em"), "http://soffice.11st.co.kr/Index.tmall" %> </td> 
        <td><%= link_to p.prdNo, "http://www.11st.co.kr/product/SellerProductDetail.tmall?method=getSellerProductDetail&prdNo=#{p.prdNo}", class: "prdlink" %></td>
        <th scope="row"><%=p.prdNm%></th>
        <td><%=p.brand%></td>
        <td><%=p.selPrc%></td>
        <td><%=p.prdSelQty %></td>
        <td>
            <span class="off more">더보기</span>
            <span class="on more" style="display:none">접기</span>
        </td>
    </tr>
    <tr style="display:none" class="text-left">
        <td></td>
        <td>
            <strong>카테고리<br>택배사<br>배송비 종류</strong>
        </td>
        <td colspan="1">
                <% ctgrno = Smcategory.where(smcategory_id: p.dispCtgrNo.split("@")[2])[0].name %>
                <%= ctgrno %>
        <br>
                <% case p.dlvEtprsCd %>
                <% when '00034' %>
                    <% dlvEtp = 'CJ대한통운' %>
                <% when '00011' %>
                    <% dlvEtp = '한진택배' %>
                <% when '00012' %>
                    <% dlvEtp = '롯데(현대)택배' %>
                <% when '00001' %>
                    <% dlvEtp = '드림택배(KG 로지스)' %>
                <% when '00007' %>
                    <% dlvEtp = '우체국택배' %>
                <% when '00002' %>
                    <% dlvEtp = '로젠택배' %>
                <% when '00008' %>
                    <% dlvEtp = '우편등기' %>
                <% when '00021' %>
                    <% dlvEtp = '대신택배' %>
                <% when '00022' %>
                    <% dlvEtp = '일양로지스' %>
                <% when '00023' %>
                    <% dlvEtp = 'ACI' %>
                <% when '00025' %>
                    <% dlvEtp = 'WIZWA' %>
                <% when '00026' %>
                    <% dlvEtp = '경동택배' %>
                <% when '00027' %>
                    <% dlvEtp = '천일택배' %>
                <% when '00028' %>
                    <% dlvEtp = 'KGL(해외배송)' %>
                <% when '00031' %>
                    <% dlvEtp = 'OCS Korea' %>
                <% when '00033' %>
                    <% dlvEtp = 'GTX 택배' %>
                <% when '00035' %>
                    <% dlvEtp = '합동택배' %>
                <% when '00037' %>
                    <% dlvEtp = '건영택배' %>
                <% when '00099' %>
                    <% dlvEtp = '기타' %>
                <% end %>
            <%=dlvEtp %><br>
                <% if p.dlvCstInstBasiCd == '01' %>
                    <% dlvCst = '무료'%>
                <% elsif p.dlvCstInstBasiCd == '02'%>
                    <% dlvCst = '고정 배송비'%>
                <% elsif p.dlvCstInstBasiCd =='03'%>
                    <% dlvCst = '조건부 무료'%>
                <% end%>
            <%=dlvCst %>
        </td>
        
        <td class="text-center"><strong>묶음 배송 여부<br>상품 등록일<br>최종 수정일</strong></td>
        <td class="text-center"><%=p.bndlDlvCnYn%><br><%=p.created_at.strftime("%F")%><br><%=p.updated_at.strftime("%F")%></td>
         <td></td>
    </tr>
    <tr style="display:none">
        <td colspan="5"></td>
        <td><%= link_to '상품수정', edit_path(p.prdNo), style: 'color: #777777; font-weight: 300' %></td>
        <td><%= link_to '판매중지', stop_path(p.prdNo), style: 'color: #777777; font-weight: 300' %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>

<script>
$(".more").on("click", function(){
    var obj = $(this);
    if(obj.hasClass("off")){
        obj.hide();
        obj.next().show();
        obj.parent().parent().next().show();
        obj.parent().parent().next().next().show();
    } else {
        obj.hide();
        obj.prev().show();
        obj.parent().parent().next().hide();
        obj.parent().parent().next().next().hide();
    }
})
</script>
