<div class="mt-5 container">

    <h1 class="text-center titlefont">상품 등록</h1>

    <%= form_tag(home_result_path, method: "post") do %>

    <div class="container cat1">

    <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">기본 정보</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row" class="labelfont">상품명</th>
      <td colspan="2"><%= text_field_tag(:prdNm) %></td>
      <th scope="row" class="labelfont">브랜드명</th>
      <td colspan="2"><%= text_field_tag(:brand) %></td>
      <th scope="row" class="labelfont">상품 가격</th>
      <td colspan="2"><%= number_field_tag 'selPrc', nil, step: 100 %></td>
    </tr>

    <tr>
      <th scope="row" class="labelfont">카테고리 대분류</th>
      <td colspan="2" id="ctgrl"> <%= collection_select(:lgctgr, :name, @lgctgr, :lgcategory_id, :name, include_blank: true, id: "ctgrl") %></td>
      <th scope="row" class="labelfont">카테고리 중분류</th>
      <td colspan="2" id="ctgrm"><%= grouped_collection_select(:midcategory, :name, @lgctgr, :midcategory, :name, :midcategory_id, :name, include_blank: true) %></td>
      <th scope="row" class="labelfont">카테고리 소분류</th>
      <td colspan="2" id="ctgrs"><%= grouped_collection_select(:smcategory, :name, @midctgr, :smcategory, :name, :smcategory_id, :name, include_blank: true) %></td>
    </tr>
    </tbody>
    </table>
    </div>

    <div class="container cat1">

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">배송 정보</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row" class="labelfont">배송 조건</th>
                <td colspan="1"><%= select_tag 'dlvCstInstBasiCd', options_for_select([['무료', '01'], ['고정 배송비', '02'], ['상품 조건부 무료', '03']]), id: "dlv_sel" %></td>
                <th scope="row" class="labelfont">택배사</th>
                <td colspan="1"><%= select_tag 'dlvEtprsCd', options_for_select(@dlv_option) %></td>
                <th scope="row" class="labelfont">배송비 결제</th>
                <td colspan="1"><%= select_tag 'dlvCstPayTypCd', options_for_select({'선결제 가능' => '01', '선결제 불가' => '02', '선결제 필수' => '03'}) %></td>


            </tr>
            
            <tr>
                <th scope="row" class="labelfont">반품 배송비</th>
                <td colspan="1"><%= number_field_tag 'rtngdDlvCst', "0", step: 100 %></td>
                <th scope="row" class="labelfont">교환 배송비</th>
                <td colspan="1"><%= number_field_tag 'exchDlvCst', '0', step: 100 %></td>
                <th scope="row" class="labelfont">묶음 배송</th>
                <td colspan="1">           
                    <%= radio_button_tag(:bndlDlvCnYn, "Y") %>
                    <%= label_tag( "가능") %>
                    <%= radio_button_tag(:bndlDlvCnYn, "N") %>
                    <%= label_tag( "불가능") %>
                </td>
            </tr>
        </tbody>
    </table>

    <div id="dlv">
        <div id="dlv_pri" class="m-3 dlv_box box1">
            <%= label_tag( "배송비", nil, class: "labelfont2") %>
            <%= number_field_tag 'dlvCst1', '0', step: 100 %>
        </div>
        <div id="dlv_jeju" class="m-3 dlv_box box2">
            <%= label_tag( "제주 추가 배송비", nil, class: "labelfont2") %>
            <%= number_field_tag 'jejuDlvCst', '0', step: 100 %>
        </div>
        <div id="dlv_isl" class="m-3 dlv_box box3">
            <%= label_tag( "도서산간 추가 배송비", nil, class: "labelfont2") %>
            <%= number_field_tag 'islandDlvCst', '0', step: 100 %>
        </div>
        <div id="dlv_free" class="m-3 dlv_box box4">
            <%= label_tag( "무료 배송비 기준", nil, class: "labelfont2") %>
            <%= number_field_tag 'PrdFrDlvBasiAmt', nil, step: 100 %>
        </div>
    </div>
    </div>

    <div class="container cat1">

    
        <table class="table table-hover">
            <thead>
                <tr>
                <th scope="col">상세 정보</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row" class="labelfont optionsize">대표이미지</th>
                    <td colspan="2"><%= file_field_tag "image[1]", accept: 'image/png,image/gif,image/jpeg' %></td>

              </tr>
            
                <tr>
                   <th scope="row" class="labelfont">상세셜명</th>
                </tr>
            
            </tbody>
        </table>
        <div class="d-flex detailinfo">
        <%= tinymce :language => "en" %>
        <%= text_area_tag(:htmlDetail, nil, class: "form-control tinymce", rows: "20") %>
        </div>


    <table class="table table-hover">
        <tbody>
            <tr>
                <th scope="row" class="labelfont optionsize">옵션 설정</th>
                <td class="optionsize opttd"><%= select_tag 'aa', options_for_select([['없음', '0'], ['1개', '1'], ['2개', '2']]), id: "opt_num", class: "optionsize2" %></td>
                <th scope="row" id="opt_btn" class="btn border opt_btn btn-outline-info">적용</th>


            </tr>  
        </tbody>
    </table>

    <div id="option_1" class="options">
        <table class="table table-hover">
            <tbody>
                <tr>
                <th scope="row" class="labelfont">옵션</th>
                <td><%= text_field_tag(:colValue0_1, nil, id:"opt_name_1") %></td>
                <th scope="row" class="labelfont">종류</th>
                <td><%= text_field_tag(:opt_1, nil,id: "opt_1")%></td>
                <th scope="row" class="labelfont">재고 수량</th>
                <td><%= number_field_tag 'prdSelQty', nil, step: 1 %></td>
                
                </tr>  
            </tbody>
        </table>
    </div>

    <div id="option_2" class="options">
        <table class="table table-hover">
            <tbody>
                <tr>
                    <th scope="row" class="labelfont">옵션</th>
                    <td><%= text_field_tag(:colValue0_2, nil, id:"opt_name_2") %></td>
                    <th scope="row" class="labelfont">종류</th>
                    <td><%= text_field_tag(:opt_2, nil,id: "opt_2")%></td>
                    
                </tr>  
            </tbody>
        </table>
    </div>


    <div class="m-3">
        <%= hidden_field_tag(:colTitle, nil, id: "opt_name_add") %>
    </div>
    <div id="opt_result">
    </div>
    
    </div>


 

    <div class="container cat1">
        <table class="table table-hover">
            <tbody>
            <tr>
                <th scope="row" class="labelfont">A/S 안내</th>
            </tr>
            
            <tr>
                <td colspan="2"><%= text_area_tag(:asDetail, nil, rows: 4, id: "hehe") %></td>
            </tr>

            <tr>
                <th scope="row" class="labelfont">반품/교환 안내</th>
            </tr>

            <tr>
                <td colspan="2" rowspan="2"><%= text_area_tag(:rtngExchDetail, nil, rows: 4, id: "hehe") %></td>
            </tr>
            
            </tbody>
        </table>
    </div>
    
    <div class="m-3 optioncenter">
        <%= submit_tag("등록", class: "btn btn-outline-info btn-lg") %>
    </div>
    <% end %>

</div>
<br>
<br>

<style>

    body {
        background-color: white;
    }

</style>

<script>
    $("#dlv_sel").change(function(){
        var dlv_sel =$("#dlv_sel").val()
        if(dlv_sel === "02"){
            $("#dlv_jeju").fadeIn(200)
            $("#dlv_isl").fadeIn(200)
            $("#dlv_pri").fadeIn(200)
            $("#dlv_free").fadeOut(200)
            $("#bundle").fadeIn(200)

        } else if(dlv_sel === "03"){
            $("#dlv_jeju").fadeIn(200)
            $("#dlv_isl").fadeIn(200)
            $("#dlv_pri").fadeIn(200)
            $("#dlv_free").fadeIn(200)
            $("#bundle").fadeOut(200)
        } else if(dlv_sel === "01"){
            $("#dlv_jeju").fadeOut(200)
            $("#dlv_isl").fadeOut(200)
            $("#dlv_pri").fadeOut(200)
            $("#dlv_free").fadeOut(200)
            $("#bundle").fadeIn(200)
        }
    })
    function count() {
        let x = 0
        let i = 0
        while (Number($(`#opt_num_${i}`).val())) {
            x += Number($(`#opt_num_${i}`).val())
            i ++
        }
        $("#prdSelQty").val(`${x}`)
    }

    $("#ctgrl").change(function(){
        $("#ctgrm").fadeIn(200)
    })

    $("#ctgrm").change(function() {
        $("#ctgrs").fadeIn(200)
    })

    $("#opt_num").change(function(){
        var value = $("#opt_num").val()
        if(value === "1"){
            $("#option_1").fadeIn(200)
            $("#option_2").fadeOut(200)
            $("#opt_btn").fadeIn(200)
        } else if(value === "2"){
            $("#option_1").fadeIn(200)
            $("#option_2").fadeIn(200)
            $("#opt_btn").fadeIn(200)
        } else if(value === "0"){
            $("#option_1").fadeOut(200)
            $("#option_2").fadeOut(200)
            $("#opt_btn").fadeOut(200)
        }
    })
    $("#opt_btn").click(function() {
        var opt_1 = $("#opt_1").val().split(',')
        var opt_2 = $("#opt_2").val().split(',')
        var opt_all = []
        var opt_name_1 = $("#opt_name_1").val()
        var opt_name_2 = $("#opt_name_2").val()
        if(opt_name_2 !== ""){
            var opt_name_add = opt_name_1 + '/'+ opt_name_2
            for(let i = 0; i < opt_1.length; i++){
                for(let j=0; j<opt_2.length; j++){
                    var a = opt_1[i] + '/' + opt_2[j]
                    opt_all.push(a)
                }
            }
        } else {
            var opt_name_add = opt_name_1
            for(let i = 0; i < opt_1.length; i++){
                opt_all.push(opt_1[i])
            }
        }

        $("#opt_name_add").val(`${opt_name_add}`)
        // $("#opt_result").append(
        //     ` <span class="labelfont2">옵션 명: ${opt_name_add}</span> `
        // )
        for(let i = 0;i <opt_all.length; i++){
            $("#opt_result").append(
            `<div class="m-3 border row optioncenter">
                    <div class="m-3">
                        <span class="labelfont2">옵션 명</span>
                        <input name="colValue0[${i}]" type="text" value="${opt_all[i]}"/>
                    </div>
                    <div class="m-3">
                        <span class="labelfont2">옵션 추가 비용</span>
                        <input name="colOptPrice[${i}]" type="number" value="0" step="100" />

                    </div>
                    <div class="m-3">
                        <span class="labelfont2">재고 수량</span>
                        <input id="opt_num_${i}" name="colCount[${i}]" type="number" step="1" onchange="count()" />

                    </div>
                </div>`
            )
        }
        
        // alert(opt_all)
    })


    
</script>