


<div id="all-contents" class="container page">

    <%= form_tag(home_result_path, method: "post") do %>

    <div class="container cat1 pb-1">

    <table class="table">
    <thead>
    <tr>
      <th scope="col">기본 정보</th>
    </tr>
    </thead>
    <tbody>
    <tr class="tr1">
      <th scope="row" class="labelfont">상품명 <span class="fas fa-exclamation-circle" tool-tip-toggle="tooltip-demo" data-html=true data-original-title="· 고객에게 노출되는 문구를 말합니다.<br> <br>· '브랜드명 + 상품명 + 모델명'으로 입력하는 것을 권장합니다.<br>ex) 발렌시아 스탠벨트자켓 V85MJ62<br><br>· 스팸성 키워드 및 특수문자 사용시 제제를 받을 수 있습니다."></span></th>
      <td colspan="2"><%= text_field_tag(:prdNm) %></td>
      <th scope="row" class="labelfont">브랜드명 <span class="fas fa-exclamation-circle" tool-tip-toggle="tooltip-demo" data-html=true data-original-title="· 브랜드 검색에 노출됩니다.<br><br>· 브랜드 내에서 통용되는 브랜드명을 입력해주세요.<br>ex) 스'텝'키즈(x) 스'탭'키즈(o)"></span></th>
      <td colspan="6"><%= text_field_tag(:brand) %></td>
    </tr>
    <tr class="tr1">
      <th scope="row" class="labelfont">상품 가격 <span class="fas fa-exclamation-circle" tool-tip-toggle="tooltip-demo" data-original-title="· 100원 단위로 입력해주세요"></span> </th>
      <td colspan="2"><%= number_field_tag 'selPrc', nil, step: 100 %></td>
      <th scope="row" class="labelfont">할인</th>
      <td colspan="2">           
        <%= radio_button_tag(:cuponcheck, "Y") %>
        <%= label_tag( "적용") %>
        <%= radio_button_tag(:cuponcheck, "N") %>
        <%= label_tag( "미적용") %>
      </td>
      <th scope="row" class="labelfont">할인수치 <span class="fas fa-exclamation-circle" tool-tip-toggle="tooltip-demo" data-html=true data-original-title="· 상품 가격에서 마이너스 금액을 입력합니다.<br><br>ex)상품 가격: 50,000원 할인수치: 5,000원<br>  할인가(최종 판매가): 45,000원 "></th>
      <td colspan="2"><%= number_field_tag 'dscAmtPercnt', nil %> <%= select_tag 'cupnDscMthdCd', options_for_select({'원' => '01', '%' => '02'}) %></td>
  
    </tr>

    <tr class="tr1">
      <th scope="row" class="labelfont">카테고리 대분류</th>
      <td colspan="2" id="ctgrl"> <%= collection_select(:lgctgr, :name, @lgctgr, :lgcategory_id, :name, include_blank: true, id: "ctgrl") %></td>
      <th scope="row" class="labelfont">카테고리 중분류</th>
      <td colspan="2" id="ctgrm"><%= grouped_collection_select(:midcategory, :name, @lgctgr, :midcategory, :name, :midcategory_id, :name, include_blank: true) %></td>
      <th scope="row" class="labelfont">카테고리 소분류</th>
      <td colspan="2" id="ctgrs"><%= grouped_collection_select(:smcategory, :name, @midctgr, :smcategory, :name, :smcategory_id, :name, include_blank: true) %></td>
    </tr>
    </tbody>
    </table>
    </div>

    <div class="container cat1">

    <table class="table">
        <thead>
            <tr>
                <th scope="col">배송 정보</th>
            </tr>
        </thead>
        <tbody>
            <tr class="tr1">
                <th scope="row" class="labelfont">배송 조건</th>
                <td colspan="1"><%= select_tag 'dlvCstInstBasiCd', options_for_select([['무료', '01'], ['고정 배송비', '02'], ['상품 조건부 무료', '03']]), id: "dlv_sel" %></td>
                <th scope="row" class="labelfont">택배사</th>
                <td colspan="1"><%= select_tag 'dlvEtprsCd', options_for_select(@dlv_option) %></td>
                <th scope="row" class="labelfont">배송비 결제</th>
                <td colspan="1"><%= select_tag 'dlvCstPayTypCd', options_for_select({'선결제 가능' => '01', '선결제 불가' => '02', '선결제 필수' => '03'}) %></td>


            </tr>
            
            <tr  class="tr1">
                <th scope="row" class="labelfont">반품 배송비</th>
                <td colspan="1"><%= number_field_tag 'rtngdDlvCst', "0", step: 100 %></td>
                <th scope="row" class="labelfont">교환 배송비</th>
                <td colspan="1"><%= number_field_tag 'exchDlvCst', '0', step: 100 %></td>
                <th scope="row" class="labelfont">묶음 배송
                    <span class="fas fa-exclamation-circle" tool-tip-toggle="tooltip-demo" data-html=true data-original-title="필수로 선택해주세요"></span>
                </th>
                <td colspan="1">           
                    <%= radio_button_tag(:bndlDlvCnYn, "Y") %>
                    <%= label_tag( "가능") %>
                    <%= radio_button_tag(:bndlDlvCnYn, "N") %>
                    <%= label_tag( "불가능") %>
                </td>
            </tr>
        </tbody>
    </table>

    <div id="dlv" class="d-flex flex-row justify-content-around">
        <div id="dlv_pri" class="dlv_box box1">
            <%= label_tag( "배송비", nil, class: "labelfont2", id: "dlv_pri") %>
            <%= number_field_tag 'dlvCst1', '0', id: "dlv_pri",step: 100 %>
        </div>
        <div id="dlv_jeju" class="dlv_box box2">
            <%= label_tag( "제주 추가 배송비", nil, class: "labelfont2") %>
            <%= number_field_tag 'jejuDlvCst', '0', step: 100 %>
        </div>
        <div id="dlv_isl" class="dlv_box box3">
            <%= label_tag( "도서산간 추가 배송비", nil, class: "labelfont2") %>
            <%= number_field_tag 'islandDlvCst', '0', step: 100 %>
        </div>
        <div id="dlv_free" class="dlv_box box4">
            <%= label_tag( "무료 배송 최소 구매액", nil, class: "labelfont2") %>
            <%= number_field_tag 'PrdFrDlvBasiAmt', nil, step: 100 %>
        </div>
    </div>

    </div>

    <div class="container cat1 pb-3">

    
        <table class="table">
            <thead>
                <tr>
                <th scope="col">상세 정보</th>
                </tr>
            </thead>
            <tbody>
                <tr class="tr1">
                    <th scope="row" class="labelfont optionsize">대표이미지 <span class="fas fa-exclamation-circle" tool-tip-toggle="tooltip-demo" data-html=true data-original-title="· 최소사이즈는 600X600px 입니다.<br><br>· 최대 이미지 용량은 한 장당 3mb입니다.<br><br>· 이미지 포맷은 JPG/PNG 입니다."></span></th>
                    <td colspan="2"><%= file_field_tag "image[1]", accept: 'image/png,image/gif,image/jpeg' %></td>

              </tr>
            
                <tr class="tr1">
                   <th scope="row" class="labelfont">상세설명 <span class="fas fa-exclamation-circle" tool-tip-toggle="tooltip-demo" data-html=true data-original-title="· 상세설명 작성 팁은 셀러드가 제공하는 가이드라인을 참고하세요. <br><br>· 모든 내용은 가운데 정렬하는 것을 권장합니다."></span></th>
                   <td colspan="8"></td>
                </tr>
            
            </tbody>
        </table>
        <div class="d-flex detailinfo">
        <%= tinymce :language => "en" %>
        <%= text_area_tag(:htmlDetail, nil, class: "form-control tinymce", rows: "20") %>
        </div>

    <table class="table">
    <tbody>
            <tr class="tr1">
                <th scope="row" class="labelfont optionsize">옵션 설정 <span class="fas fa-exclamation-circle" tool-tip-toggle="tooltip-demo" data-html=true data-original-title="<text-alignment='left'>· 사이즈, 컬러 등 옵션의 개수를 선택해주세요"></span></th>
                <td class="optionsize opttd" colspan="2"><%= select_tag 'aa', options_for_select([['없음', '0'], ['1개', '1'], ['2개', '2']]), id: "opt_num", class: "optionsize2" %></td>
                <th scope="row" class="labelfont optionsize optionn">재고 수량 <span class="fas fa-exclamation-circle" tool-tip-toggle="tooltip-demo" data-html=true data-original-title="· 옵션 재고수량이 합산되어 자동으로 계산됩니다."></span></th>
                <td><%= number_field_tag 'prdSelQty', nil, step: 1 %></td>
            </tr>  
        </tbody>
    </table>

    <div id="option_1" class="options">
    <table class="table">
    <tbody>
    <tr class="tr1">
      <th scope="row" class="labelfont optionsize">옵션</th>
      <td class="optionsize1"><%= text_field_tag(:colValue0_1, nil, id:"opt_name_1") %></td>
      <th scope="row" class="labelfont optionsize">종류 
        <span class="fas fa-exclamation-circle" tool-tip-toggle="tooltip-demo" data-html=true data-original-title="· 여백없이 <strong>콤마','</strong>로 구분해서 입력해주세요.<br><strong>ex)</strong> 네이비,블랙 / S,M,L"></span>
      </th>
      <td class="opttd"><%= text_field_tag(:opt_1, nil,id: "opt_1", placeholder: "ex. 종류1,종류2,종류3")%></td>
      <th class="helptip">옵션값을 모두 입력하고 적용버튼을 누르세요</th>
      <th scope="row" id="opt_btn" class="btn border opt_btn btn-secondary">적용</th>

      
    </tr>  
    </tbody>
    </table>
    </div>

    <div id="option_2" class="options">
    <table class="table">
    <tbody>
    <tr class="tr1">
      <th scope="row" class="labelfont optionsize">옵션</th>
      <td class="optionsize1"><%= text_field_tag(:colValue0_2, nil, id:"opt_name_2") %></td>
      <th scope="row" class="labelfont optionsize">종류
        <span class="fas fa-exclamation-circle" tool-tip-toggle="tooltip-demo" data-html=true data-original-title="· 여백없이 <strong>콤마','</strong>로 구분해서 입력해주세요.<br><strong>ex)</strong> 네이비,블랙 / S,M,L"></span>
      </th>
      <td><%= text_field_tag(:opt_2, nil,id: "opt_2", placeholder: "ex. 종류1,종류2,종류3")%></td>
    </tr>  
    </tbody>
    </table>
    </div>

    <div class="m-3">
        <%= hidden_field_tag(:colTitle, nil, id: "opt_name_add") %>
    </div>
    <div id="opt_result">
    </div>
    
    </div>

 

    <div class="container cat1">
        <table class="table">
            <tbody>
            <tr>
                <th scope="row" class="labelfont">A/S 안내</th>
            </tr>
            
            <tr class="tr1">
                <td colspan="2"><%= text_area_tag(:asDetail, nil, rows: 4, class: "hehe", placeholder: "(필수 입력)\n상세 설명에 자세한 내용이 입력되어 있다면, '상세 설명 참조' 라고 작성 ") %></td>
            </tr>

            <tr>
                <th scope="row" class="labelfont">반품/교환 안내</th>
            </tr>

            <tr class="tr1">
                <td colspan="2" rowspan="2"><%= text_area_tag(:rtngExchDetail, nil, rows: 4, class: "hehe", placeholder: "(필수 입력)\n상세 설명에 자세한 내용이 입력되어 있다면, '상세 설명 참조' 라고 작성") %></td>
            </tr>
            
            </tbody>
        </table>
    </div>
    
    <div class="m-3 optioncenter">
        <%= submit_tag("등록", class: "btn btn-secondary btn-lg", id: "submit_button", disabled: "disabled") %>
    </div>
    <% end %>
    

</div>
<br>
<br>

<style>
    body {
        background-image: url("/assets/newimage.png");
        background-size: cover;
        background-repeat: no-repeat;
    }
    form {
        margin-top: 37%;
    }
</style>

<script>


    $("#all-contents").change(function(){
        if($("#prdNm").val() && $("#brand").val() && $("#selPrc").val() && $("#smcategory_name").val() && $("#rtngdDlvCst").val() && $("#exchDlvCst").val() && $("#dlvCstPayTypCd").val() && $("#prdSelQty").val() && $("#asDetail").val() && $("#rtngExchDetail").val()){
        $("#submit_button").removeAttr("disabled");
        }
    });

    $(document).ready(function(){
        $('[tool-tip-toggle="tooltip-demo"]').tooltip({
            placement : 'top'
        });
    });

    $("#dlv_sel").change(function(){
        var dlv_sel =$("#dlv_sel").val()
        if(dlv_sel === "02"){
            $("#dlv_jeju").fadeIn(200)
            $("#dlv_isl").fadeIn(200)
            $("#dlv_pri").fadeIn(200)
            $("#dlv_free").fadeOut(200)
            $("#bundle").fadeIn(200)

        } else if(dlv_sel === "03"){
            $("#dlv_jeju").fadeIn(200)
            $("#dlv_isl").fadeIn(200)
            $("#dlv_pri").fadeIn(200)
            $("#dlv_free").fadeIn(200)
            $("#bundle").fadeOut(200)
        } else if(dlv_sel === "01"){
            $("#dlv_jeju").fadeOut(200)
            $("#dlv_isl").fadeOut(200)
            $("#dlv_pri").fadeOut(200)
            $("#dlv_free").fadeOut(200)
            $("#bundle").fadeIn(200)
        }
    })
    function count() {
        let x = 0
        let i = 0
        while (Number($(`#opt_num_${i}`).val())) {
            x += Number($(`#opt_num_${i}`).val())
            i ++
        }
        $("#prdSelQty").val(`${x}`)
    }

    $("#ctgrl").change(function(){
        $("#ctgrm").fadeIn(200)
    })

    $("#ctgrm").change(function() {
        $("#ctgrs").fadeIn(200)
    })

    $("#opt_num").change(function(){
        var value = $("#opt_num").val()
        if(value === "1"){
            $("#option_1").fadeIn(200)
            $("#option_2").fadeOut(200)
            $("#opt_btn").fadeIn(200)
        } else if(value === "2"){
            $("#option_1").fadeIn(200)
            $("#option_2").fadeIn(200)
            $("#opt_btn").fadeIn(200)
        } else if(value === "0"){
            $("#option_1").fadeOut(200)
            $("#option_2").fadeOut(200)
            $("#opt_btn").fadeOut(200)
        }
    })
    $("#opt_btn").click(function() {
        var opt_1 = $("#opt_1").val().split(',')
        var opt_2 = $("#opt_2").val().split(',')
        var opt_all = []
        var opt_name_1 = $("#opt_name_1").val()
        var opt_name_2 = $("#opt_name_2").val()
        if(opt_name_2 !== ""){
            var opt_name_add = opt_name_1 + '/'+ opt_name_2
            for(let i = 0; i < opt_1.length; i++){
                for(let j=0; j<opt_2.length; j++){
                    var a = opt_1[i] + '/' + opt_2[j]
                    opt_all.push(a)
                }
            }
        } else {
            var opt_name_add = opt_name_1
            for(let i = 0; i < opt_1.length; i++){
                opt_all.push(opt_1[i])
            }
        }

        $("#opt_name_add").val(`${opt_name_add}`)
        // $("#opt_result").append(
        //     ` <span class="labelfont2">옵션 명: ${opt_name_add}</span> `
        // )
        for(let i = 0;i <opt_all.length; i++){
            $("#opt_result").append(
            `<div class="m-3 border row optioncenter">
                    <div class="m-3">
                        <span class="labelfont2">옵션 명</span>
                        <input name="colValue0[${i}]" type="text" value="${opt_all[i]}"/>
                    </div>
                    <div class="m-3">
                        <span class="labelfont2">옵션 추가 비용</span>
                        <input name="colOptPrice[${i}]" type="number" value="0" step="100" />

                    </div>
                    <div class="m-3">
                        <span class="labelfont2">재고 수량</span>
                        <input id="opt_num_${i}" name="colCount[${i}]" type="number" step="1" onchange="count()" />

                    </div>
                </div>`
            )
        }
        
        // alert(opt_all)
    })

    
</script>

