<!DOCTYPE html>
<html>
  <head>
    <title>Apitest</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/css/swiper.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/css/swiper.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/js/swiper.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/js/swiper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/js/swiper.esm.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/js/swiper.esm.bundle.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gothic+A1:400,500,600,700" rel="stylesheet">
  </head>

  <body>
    <%# 스와이퍼 %>
    <script type='module'>
    var mySwiper = new Swiper ('.swiper-container', {
    // Optional parameters
    direction: 'vertical',
    loop: false,
    mousewheel: true,
    slidesPerView: 1,
    paginationClickable: true,
    spaceBetween: 0,
    parallax: true,
    speed: 300,
    // If we need pagination
    // pagination: {
    //   el: '.swiper-pagination',
    // },

    // Navigation arrows
    // navigation: {
    //   nextEl: '.swiper-button-next',
    //   prevEl: '.swiper-button-prev',
    // },

    // And if we need scrollbar
    scrollbar: {
      el: '.swiper-scrollbar',  
    },
    })
    </script>

    <%# 네브바 %>
    <nav class=" shadow navbar navbar-light fixed-top">
      <div class="navbar-nav divcenter">
        <div class="container d-flex justify-content-between">
            <div class="row">
              <div>
                <%= link_to image_tag("logo.png", class: "logo divcenter"), home_main_path %>  
              </div>
            </div>
            <div class="row">  
              <div>
                <%= link_to '상품등록', home_new_path, :class => "divcenter nav-item nav-link mr-3" %>
              </div>
              <div>
                <%= link_to '조회/수정하기', home_list_path, :class => "divcenter nav-item nav-link mr-3" %>
              </div>          
              <div>    
                <%= link_to '가이드라인', home_tip_path, :class => "divcenter nav-item nav-link" %>
              </div>  
            </div>
            <div class="row">
              <% if user_signed_in? %>
              <div>                 
                <%= link_to '마이페이지', edit_user_registration_path, :class => "divcenter nav-item nav-link mr-3" %>                  
              </div>
              <div>
                <%= link_to '로그아웃', destroy_user_session_path, method: :delete, :class => "divcenter btn btn-secondary btn-sm" %>
              </div>  
              <% elsif %>
              <div>  
                <%= link_to '회원가입', new_user_registration_path,:class => "divcenter btn btn-secondary btn-sm mr-3"%>
              </div>
               <div>                  
                <%= link_to '로그인', new_user_session_path,:class => "divcenter btn btn-secondary btn-sm" %>
              </div>      
              <% end %> 
            </div>
          </div>
        </div>    
      </div>
    </nav>
  <div style="min-height: 100vh;">
    <%= yield %>
  </div>   
  <%# 풋터 %>
  <div class="footer">
    <div class="container d-flex bd-highlight">
      <div class="mr-auto p-2 bd-highlight">
        NE<span class=text-warning>X</span>T X
        <strong>멋쟁이사자처럼</strong>
      </div>
      <div class="p-2 bd-highlight">
      © 2018 Copyright:
      <strong>SELLOAD.com</strong>
      </div> 
    </div>
  </div>  
  </body>
</html>
